# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

evo-gulp-poc/.ftppass
evo-gulp-poc/.sass-cache/*
evo-gulp-poc/bower_components/*
evo-gulp-poc/dist/*
evo-gulp-poc/node_modules/*

evo-arch-poc/app/.ftppass
evo-arch-poc/app/.sass-cache/*
evo-arch-poc/app/bower_components/*
evo-arch-poc/app/dist/*
evo-arch-poc/app/node_modules/*

evo-arch-poc/evo-conversational-form/.ftppass
evo-arch-poc/evo-conversational-form/.sass-cache/*
evo-arch-poc/evo-conversational-form/bower_components/*
evo-arch-poc/evo-conversational-form/dist/*
evo-arch-poc/evo-conversational-form/node_modules/*

evo-arch-poc/evolution-core/.ftppass
evo-arch-poc/evolution-core/.sass-cache/*
evo-arch-poc/evolution-core/bower_components/*
evo-arch-poc/evolution-core/dist/*
evo-arch-poc/evolution-core/node_modules/*