/*--------------------------------------------------------------------------------------------
{{ meta_project }} v{{ meta_version }} - Application CSS
DATE: {{ meta_date }}
AUTHOR: {{ meta_author }}
URL: {{ meta_url }}
--------------------------------------------------------------------------------------------*/

@charset 'utf-8';

// ===========================================================================================
// CORE IMPORTS
// ===========================================================================================
@import	"evolution-core";

// ===========================================================================================
// APPLICATION IMPORTS
// ===========================================================================================
@import	"app/settings";
@import	"app/variables";
@import	"app/icons";


/*=== STYLES ===============================================================================*/


// CONVERSATIONAL FORM
@import	"conversational-form";
