<!-- SIDEBAR NAV - BACK TO CONTENT - BEGINS -->
<a href="#top" class="button expanded evo-button tiny show-for-small-only" role="button">Back To Content</a>
<!-- SIDEBAR NAV - BACK TO CONTENT - ENDS -->

{{#each doc-sidebar.nav}}
<!-- SIDBAR NAV - SECTION HEADER - BEGINS -->
	<h6 class="evo-hdr-rule">{{header}}</h6>
<!-- SIDBAR NAV - SECTION HEADER - ENDS -->

<!-- SIDBAR NAV - SECTION LIST - BEGINS -->
	<dl>
		{{#each section}}
			<dd><a href="{{url}}">{{name}}</a></dd>
		{{/each}}
	</dl>
<!-- SIDBAR NAV - SECTION LIST - ENDS -->
{{/each}}