<footer class="evo-thin-footer evo-site-thin-footer">

<!-- CONTENT SECTION - BEGINS -->
	<section class="row expanded evo-footer-content-section">
		<div class="medium-6 columns">

			<!-- FOOTER - BACK TO TOP - BEGINS -->
			<a href="#top" class="button expanded evo-button tiny show-for-small-only" role="button">Back To Top</a>
			<!-- FOOTER - BACK TO TOP - ENDS -->

			<section class="row">
				<div class="medium-4 columns">

				<!-- SOCIAL MEDIA BADGES - BEGINS -->
					<div class="evo-social-media-badges-ctn">
						{{> icon tagname="a" class="evo-icon-twitter2 evo-icon-size-medium" href="https://twitter.com/mercerglobalux" icon-title="Twitter" aria-label="Twitter"}}
						{{> icon tagname="a" class="evo-icon-linkedin evo-icon-size-medium" href="https://www.linkedin.com/company/mercer" icon-title="LinkedIn" aria-label="LinkedIn"}}
					</div>
				<!-- SOCIAL MEDIA BADGES - ENDS -->

				</div>
			</section>
		</div>
		<div class="medium-6 columns">
			<div class="evo-footer-links">
				<ul class="evo-inline-list evo-inline-list-pipes">
				{{#each footer.nav}}
					<li><a href="{{url}}">{{{name}}}</a></li>
				{{/each}}
				</ul>
			</div>
		</div>
	</section>
<!-- CONTENT SECTION - ENDS -->

<!-- BRAND BAR - BEGINS -->
	<section class="row expanded evo-thin-footer-brand-bar">

		<!-- FOOTER BRAND LOGO - BEGINS -->
			<div class="medium-6 medium-push-6 columns evo-footer-logo">
				<a href="http://www.mercer.com/" title="Mercer - Make Tomorrow, Today">
					<img src="/assets/images/core/corp-logos/mercer/mercer_mtt_horizontal_rgb{{#ifequal package.project.product_suite 'bp'}}_reverse{{/ifequal}}.png" alt="Mercer - Make Tomorrow, Today" width="395" height="15">
				</a>
			</div>
		<!-- FOOTER BRAND LOGO - ENDS -->

		<!-- FOOTER COPYRIGHT - BEGINS -->
			<div class="medium-6 medium-pull-6 columns">
				<p class="evo-footnote evo-footer-copyright">
					<small>&copy; {{moment "YYYY"}} {{footer.copyright_text}}</small>
				</p>
			</div>
		<!-- FOOTER COPYRIGHT - ENDS -->

	</section>
<!-- BRAND BAR - ENDS -->

</footer>